<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Medicine Reminder</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            💊 AI Medicine Reminder
        </div>

        <div class="nav-links">
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </div>
    </nav>


    <section class="hero">

        <div class="hero-content">

            <h1>
                AI Medicine Reminder
            </h1>

            <h2>
                Smart Prescription Reading & Medicine Reminders
            </h2>

            <p>
                Upload your prescription, extract medicine information
                using OCR, and manage your medicine schedule easily.
            </p>

            <div class="buttons">
                <a href="/signup" class="btn">
                    Get Started
                </a>

                <a href="/login" class="btn secondary">
                    Login
                </a>
            </div>

        </div>

    </section>

</body>
</html>